ul > li:nth-child(odd) { background-color:#eee; }
ul > li:nth-child(even) { background-color:#fff; }

ul > li:hover
{ 
background-color:#F6F4F0;
}

.span4 > div, .span8 > div, .span6 > div
{
   background-color:#eee;
   border: 0.5px solid #888;
   border-radius:20px;
}

.span12 > div{
	background-color:#eee;
	border-radius:20px;
}

.projectnormal{float:left}
.projectdelete{float:right}

.projecthead{
	font-size: 26px;
}

/***
.legendspan{
	margin-left:10px;
}

**/

.form-horizontal .control-label-projectmanagement {
  float: left;
  /* width: 160px; **/
  width: 80px;
  padding-top: 5px;
  text-align: right;
}

.form-horizontal .controls-projectmanagement {
  *display: inline-block;
  *padding-left: 20px;
  /**margin-left: 180px; **/
  margin-left: 80px;
  *margin-left: 0;
}

.input-xlarge-projectmanagement {
  width: 200px;
}

.input-xlarge-post {
width: 350px;
height: 130px;
}

ul.commentRight{
	float: right;
	list-style: none;
}

