<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">
 
	<http auto-config="true">
		<intercept-url pattern="/welcome*" access="ROLE_USER" />
		<intercept-url pattern="/index*" access="ROLE_USER" />
		<intercept-url pattern="/project*" access="ROLE_USER" />
		<intercept-url pattern="/setup*" access="ROLE_USER" />
		<intercept-url pattern="/" access="ROLE_USER" />
		<form-login login-page="/login" 
			authentication-failure-url="/loginfailed" authentication-success-handler-ref="simpleUrlAuthenticationSuccessHandler"/>
		<logout logout-success-url="/logout" />
	</http>
 
	<!--  authentication-manager>
	  <authentication-provider>
		<user-service>
			<user name="japheth" password="123456" authorities="ROLE_USER" />
		</user-service>
	  </authentication-provider>
	</authentication-manager -->
	
	<!-- security:http auto-config="true" use-expressions="true">
		<security:intercept-url pattern="/resources/**" access="permitAll" />
  		<security:intercept-url pattern="/login" access="permitAll" />
 		<security:intercept-url pattern="/loginfailed" access="permitAll" />
 		<security:intercept-url pattern="/logout" access="permitAll" />
  		<security:intercept-url pattern="/index.html" access="isAuthenticated()" />
  		<security:intercept-url pattern="/setup.html" access="isAuthenticated()" />
  		<security:intercept-url pattern="/project.html" access="isAuthenticated()" />
	</security:http-->
	
	<!-- Emulates the functionality of spring security 3.0.x by specifying the targetUrlParameter to be the value it
    defaulted to in 3.0.x. As of 3.1.x this is null by default with no option to specify in <form-login> -->
	<beans:bean id="simpleUrlAuthenticationSuccessHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationSuccessHandler">
	    <beans:property name="useReferer" value="false"/>
	    <beans:property name="defaultTargetUrl" value="/welcome"/>
	    <!--  beans:property name="targetUrlParameter" value="spring-security-redirect"/-->
	</beans:bean>
	
	<authentication-manager>
	   <authentication-provider>
		<jdbc-user-service data-source-ref="dataSource"
 
		   users-by-username-query="
		      select email,password, isactive  
		      from users where email=?" 
 
		   authorities-by-username-query="
		      select u.email, ur.authority from users u, userroles ur 
		      where u.id = ur.user_id and u.email =?  " 
 
		/>
	   </authentication-provider>
	</authentication-manager>
 
</beans:beans>